<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo"
           placeholder="What needs to be done?"
           autofocus
           (keyup.enter)="addTodo($event)">
  </header>
  <!-- 工作区域 -->
  <ng-template [ngIf]="todos.length">
    <section class="main">
      <input id="toggle-all"
             class="toggle-all"
             type="checkbox"
             (change)="toggleAll = $event.target.checked"
             [checked]="toggleAll">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <!-- 列表分类 -->
        <li *ngFor="let todo of filterTodos; let i = index"
            [ngClass]="{completed: todo.done, editing: currentEditing === todo}">
          <div class="view">
            <input class="toggle"
                   type="checkbox"
                   [(ngModel)]="todo.done">
            <label (dblclick)="currentEditing = todo">{{ todo.title }}</label>
            <button class="destroy"
                    (click)="removeTodo(i)"></button>
          </div>
          <input class="edit"
                 [value]="todo.title"
                 (blur)="saveEdit(todo,$event)"
                 (keyup.enter)="saveEdit(todo,$event)"
                 (keyup)="cancelEdit($event)">
        </li>
      </ul>
    </section>
    <!-- 底部 -->
    <footer class="footer">
      <!-- 未完成项目个数 -->
      <span class="todo-count"><strong>{{ toggleUncompleted }}</strong> item left</span>
      <!-- 状态切换 -->
      <ul class="filters">
        <li>
          <a [ngClass]="{selected: visibility === 'all'}"
             href="#/">All</a>
        </li>
        <li>
          <a [ngClass]="{selected: visibility === 'active'}"
             href="#/active">Active</a>
        </li>
        <li>
          <a [ngClass]="{selected: visibility === 'completed'}"
             href="#/completed">Completed</a>
        </li>
      </ul>
      <!-- 清除完成项 -->
      <button class="clear-completed"
              (click)="clearCompleted()">Clear completed</button>
    </footer>
  </ng-template>
</section>

<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <p>Created by <a href="http://todomvc.com">zf</a></p>
</footer>